In [ ]:
import pandas as pd
#import matplotlib.pyplot as plt

In [ ]:
automobile_df = pd.read_csv('auto-mpg.csv')

automobile_df.head()

    mpg  cylinders  displacement  ... model year  origin                   car name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]

In [ ]:
automobile_df.shape

(398, 9)

In [ ]:
automobile_df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [ ]:
automobile_df["horsepower"] = pd.to_numeric(automobile_df["horsepower"], errors='coerce')

In [ ]:
automobile_df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
automobile_df=automobile_df.fillna(automobile_df.mean())

In [ ]:
automobile_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
automobile_df=automobile_df.drop(['car name'],axis=1)

In [ ]:
automobile_df.head()

    mpg  cylinders  displacement  ...  acceleration  model year  origin
0  18.0          8         307.0  ...          12.0          70       1
1  15.0          8         350.0  ...          11.5          70       1
2  18.0          8         318.0  ...          11.0          70       1
3  16.0          8         304.0  ...          12.0          70       1
4  17.0          8         302.0  ...          10.5          70       1

[5 rows x 8 columns]

In [ ]:
X = automobile_df.drop('mpg', axis=1)
Y = automobile_df['mpg']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

linear_model = LinearRegression(normalize=True).fit(x_train, y_train)

print('R2: ', linear_model.score(x_train, y_train))
y_pred = linear_model.predict(x_test)
print('Mean Squared Error: ', mean_squared_error(y_test, y_pred))

R2:  0.824903924102481
Mean Squared Error:  11.616309573349444

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

In [ ]:
print(linear_model.predict([[6, 117, 100,3000,15,85,1]]))

[27.97807508]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

# Model Serialization

In [ ]:
import pickle

In [ ]:
pickle.dump(linear_model, open('model.pkl','wb'))

In [ ]:
model = pickle.load(open('model.pkl','rb'))

#Model Deployment

In [ ]:
!pip install flask-ngrok

Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2.10)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, request
import requests
import numpy as np
app = Flask(__name__)
run_with_ngrok(app)   #starts ngrok when the app is run
@app.route('/predict',methods=['POST'])
def home():
    cylinders = int(request.args.get('cylinders', ''))
    displacement = int(request.args.get('displacement', ''))
    horsepower = int(request.args.get('horsepower', ''))
    weight = int(request.args.get('weight', ''))
    acceleration = int(request.args.get('acceleration', ''))
    modelYear = int(request.args.get('modelYear', ''))
    origin = int(request.args.get('origin', ''))
    prediction = model.predict([[cylinders, displacement, horsepower,weight,acceleration,modelYear,origin]])
    #prediction = model.predict([[6, 117, 100,3000,15,85,1]])
    print('*******************************')
    print(prediction)
    return 'Prediction is ' + str(prediction[0])
  
app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://dcf1-34-66-171-93.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
127.0.0.1 - - [19/Nov/2021 10:13:08] "POST /predict?cylinders=6&displacement=117&horsepower=100&weight=3000&acceleration=15&modelYear=85&origin=1 HTTP/1.1" 200 -

*******************************
[27.97807508]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
127.0.0.1 - - [19/Nov/2021 10:25:10] "POST /predict?cylinders=6&displacement=117&horsepower=100&weight=2000&acceleration=15&modelYear=85&origin=1 HTTP/1.1" 200 -

*******************************
[34.67040108]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
127.0.0.1 - - [19/Nov/2021 10:25:27] "POST /predict?cylinders=6&displacement=117&horsepower=80&weight=2000&acceleration=15&modelYear=85&origin=1 HTTP/1.1" 200 -

*******************************
[34.95493618]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
127.0.0.1 - - [19/Nov/2021 10:25:38] "POST /predict?cylinders=6&displacement=117&horsepower=100&weight=3000&acceleration=15&modelYear=85&origin=1 HTTP/1.1" 200 -

*******************************
[27.97807508]